.button {
  background-color: var(--green);
  border: none;
  height: 59px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}
