.form-contacts {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: contacts;
  }
}

.form-contacts__wr {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-contacts__heading {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-contacts .field {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form-contacts__input {
  @media (min-width: $tablet-width) {
    width: 496px;
    order: -1;
    position: relative;
    padding-right: 59px;

    &::after {
      content: "";
      background-color: var(--border-color);
      height: 59px;
      width: 59px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 371px;
  }
}

.form-contacts__input--mail {
  @media (min-width: $tablet-width) {
    &::after {
      background-image: url("../img/icon-mail.svg");
      background-size: 18px 13px;
    }
  }
}

.form-contacts__input--phone {
  @media (min-width: $tablet-width) {
    &::after {
      background-image: url("../img/icon-phone.svg");
      background-size: 20px 19px;
    }
  }
}

.form-contacts .field__name {
  @media (min-width: $tablet-width) {
    align-self: flex-start;
    padding-left: 87px;
    margin-top: 20px;
  }

  @media (min-width: $after-tablet) {
     padding-left: 250px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 57px;
  }
}

.form-contacts__heading {
  margin-top: 0;
}
